<h2>מארח חדש נרשם בעירך.</h2>

<p>פרטים ליצירת קשר:
<br>
שם: <%= @host.full_name %>
<br>
כתובת: <%= @host.address %>
<br>
טלפון: <%= @host.phone %>
<br>
מייל: <%= @host.email %>
</p>
<p>תוכל לראות את כל המארחים בעירך בלינק הבא: <%= link_to("איזור הצוות", hosts_url(:locale => :he)) %></p>

<p>שם משתמש: zikaron<br>
סיסמא: 1234.com</p>

