<h1><%= @user.first_name %>,</h1>

<p>
	<%= t('.paragraph_1', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_2_pre_link', locale: @locale)  %>
	<%= link_to t('.profile_link', locale: @locale), host_url(id:@user.meta_id, locale: @locale)%>
	<%= t('.paragraph_2_post_link', locale: @locale)  %>
</p>

<p>
	<%= t('.paragraph_3_pre', locale: @locale) %>
	<%= link_to t('.link_text', locale: @locale), t('.link_url', locale: @locale) %>
	<%= t('.paragraph_3_post', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_4_pre', locale: @locale) %>
	<%= link_to t('.facebook_link', locale: @locale), t('.facebook_link_url', locale: @locale) %>
	<%= t('.paragraph_4_post', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_5', locale: @locale) %>
</p>