<h1><%= @user.first_name %>,</h1>

<p>
	<%= t('.paragraph_1', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_2', locale: @locale)  %>
</p>

<p>
	<%= t('.paragraph_3_pre_text', locale: @locale)  %>
	<%= link_to t('.paragraph_3_link_text', locale: @locale), t('.paragraph_3_link_url', locale: @locale) %>.
</p>

<p>
	<%= t('.paragraph_4_pre_text', locale: @locale) %>
	<%= link_to t('.paragraph_4_link_text', locale: @locale), t('.paragraph_4_link_url', locale: @locale) %>
	<%= t('.paragraph_4_post_text', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_5_pre_text', locale: @locale) %>
	<%= link_to t('.paragraph_5_facebook_link_text', locale: @locale), t('.paragraph_5_facebook_link_url', locale: @locale) %>
	<%= t('.paragraph_5_post_text', locale: @locale) %>
</p>
