<h1><%= @user.first_name %>,</h1>

<p>
	<%= t('.paragraph_1', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_2', locale: @locale)  %>
</p>

<p>
	<%= link_to t('.link_text', locale: @locale), t('.link_url', locale: @locale) %>
	<%= t('.paragraph_3', locale: @locale) %>
</p>


