<h1><%= @user.first_name %>,</h1>

<p>
	<%= t '.paragraph_1' %>
</p>

<p>
	<%= t '.paragraph_2' %>
</p>

<p>
	<%= link_to t('.link_text'), "http://www.zikaronbasalon.com/#!eveningsetup/c1hap" %>
	<%= t '.paragraph_3' %>
</p>


