<h1><%= @host.user.first_name %>,</h1>

<p>
	<%= t('.paragraph_1', locale: @locale) %> <%= link_to t('.link_text'), host_url(id: @host.id, locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_2_before_link', locale: @locale) %> <%= link_to t('.link_text_2'), "http://www.zikaronbasalon.com/#!blank-11/p05te" %> <%= t('.paragraph_2', locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_3', locale: @locale) %>
</p>


