<h1><%= @host.user.first_name %>,</h1>

<p>
	<%= t('.paragraph_1', locale: @locale) %> <%= link_to t('.link_text'), host_url(id: @host.id, locale: @locale) %>
</p>

<p>
	<%= t('.paragraph_2_before_link', locale: @locale) %> <%= link_to t('.link_text_2'), "http://www.zikaronbasalon.com/#!blank-11/p05te" %> <%= t('.paragraph_2', locale: @locale) %>
</p>

<p>
כמה דגשים חשובים:<br/>
1. יש ליצור קשר עם נותן העדות שלך ולתאם שיחת או מפגש היכרות.<br/>
2. בשיחה/מפגש זה, יש לתאם ציפיות לקראת הערב: כמה זמן תימשך העדות, מי הקהל, העובדה לערב שלושה חלקים והעדות היא רק חלק אחד, הסעה הלוך-חזור לנותן העדות ביום המפגש, להציע לנותן העדות להגיע עם קרוב משפחה/חבר וכו׳.<br/>
3. חשוב לא לשכוח להדפיס ולהעניק לנותן העדות את תעודת ההוקרה<br/>
4. חשוב להתקשר יום או יומיים לפני הערב עצמו, וכן יום לאחר מכן לשאול לשלום נותן העדות.
</p>

<p>
מאחר ואיש/אשת העדות מחכה לשמוע ממך ולתאם איתך, יש ליצור קשר בהקדם האפשרי ולעדכן אותנו שעשית זאת בכפתור ״נוצר קשר עם איש העדות״ בפרופיל האישי שלך.
</p>

<p>
	<%= t('.paragraph_3', locale: @locale) %>
</p>


