<h1><%= @host.user.first_name %>,</h1>

<p>
   砖 砖专  砖爪转 
  <% if @witness.witness_type == 'academia' %>
    砖/砖转
     拽 专
  <% elsif @witness.witness_type == 'therapist' %>
    砖/砖转
    拽爪注 注/转 注 爪 砖
  <% elsif @witness.witness_type == 'survivor' %>
    砖/砖转
    注转
  <% elsif @witness.witness_type == 'second_generation' %>
    /转
    专 砖
  <% end %>
  , 砖注/转注 住驻专 注 砖 砖 拽转  转 住 砖.
  注转 转/ 专转 转 驻专  砖  砖
  <%= link_to t('shared.profile_link', locale: @locale), host_url(id:@host.id, locale: @locale) %>.
</p>

<p>
  <strong>
     砖 砖 爪 拽砖 拽专 转
    <a target="_blank" href="https://www.zikaronbasalon.com/contactedut">
      转 砖
    </a>
    爪 转 

    <% if @witness.witness_type == 'academia' %>
      砖/砖转
      拽
    <% elsif @witness.witness_type == 'therapist' %>
      砖/砖转
      拽爪注
    <% elsif @witness.witness_type == 'survivor' %>
      砖/砖转
      注转
    <% elsif @witness.witness_type == 'second_generation' %>
      /转
      专 砖
    <% end %>

     注 驻 砖转爪专 转/转 拽砖专 拽 注 转 专砖 驻砖  专 拽 拽专  <a target="_blank" href="https://forms.gle/MR9uN6FXf8AzdaxJ6">
      </a>.
  </strong>
</p>

<p>
  <strong>
     住驻专 砖 砖 拽砖专 爪转 砖 注转:
  </strong>
  <br/>
  <ol>
    <li>
      爪专 拽砖专 专砖 注 转 注转. 住 转 转  转 砖转 驻  驻砖 专转 拽砖  转砖转  转 爪驻转. 住专  注  注专, 住 拽注 专砖   转砖 注转, 转 转 砖 住注 转    转 专砖 砖 拽  转.
    </li>
    <li>
      爪爪 砖,    驻 注专  砖,  注.
    </li>
    <li>
      驻住 砖 转 注转 转
      <a target="_blank" href="https://docs.wixstatic.com/ugd/21e365_d32ff50c17df4fd395b23391da5133ef.pdf">
        转注转 拽专
      </a>.
      驻住 爪注 砖 转 注转 转 转注转 拽专 砖 注转. 专 爪驻 ,  转专砖 拽.  爪  爪  专 注 砖 注转 专 注拽转 转注,   砖 住 驻砖 注 砖 注转 砖注转  转转  注转拽 砖 转 
    </li>
       <li>
 驻砖专转, 爪注 砖 注转 爪 转 注转 砖  (转 驻砖 转 转转  注转拽 专 !).  砖爪  转 住转.
      </li>
    <li>
      爪专 拽砖专
      <strong>
           专 驻砖
      </strong>
       砖 砖 转 注转.  砖 砖砖 砖 -  爪专 转 拽砖专 专 专 转转 
        <a href = "mailto: info@zikaronbasalon.com">(info@zikaronbasalon.co)</a>

    </li>
  </ol>

</p>

<p>
  <strong>
    专 
    <% if @witness.witness_type == 'academia' %>
      砖/砖转
      拽
    <% elsif @witness.witness_type == 'therapist' %>
      砖/砖转
      拽爪注
    <% elsif @witness.witness_type == 'survivor' %>
      砖/砖转
      注转
    <% elsif @witness.witness_type == 'second_generation' %>
      /转
      专 砖
    <% end %>
     砖注  转 转,
    砖 爪专 拽砖专 拽 驻砖专 注 转 砖注砖转 转 驻转专 状爪专 拽砖专 注 砖 注转状
    <%= link_to t('shared.profile_link', locale: @locale), host_url(id:@host.id, locale: @locale) %>
    (转砖转 , 专 砖 砖 抓 注 砖专).
  </strong>
</p>

<p>
  <%= t 'shared.mailer_pargraph_noticed_profile_login', locale: @locale %>
</p>

<p>
   转拽转 注转,  驻.
</p>


<!--<p>-->
	<!--<%= t('.paragraph_1', locale: @locale) %> <%= link_to t('.link_text'), host_url(id: @host.id, locale: @locale) %>-->
<!--</p>-->

<!--<p>-->
<!--</p>-->

<!--<p>-->
	<!--<%= @witness_type_text %>-->
	<!--<%= t('.paragraph_2_before_link', locale: @locale) %> <%= link_to t('.link_text_2'), "http://www.zikaronbasalon.com/#!blank-11/p05te" %> <%= t('.paragraph_2', locale: @locale) %>-->
<!--</p>-->

<!--<p>-->
<!-- 砖 砖:<br/>-->
<!--1. 砖 爪专 拽砖专 注 转 注转 砖 转 砖转  驻砖 专转.<br/>-->
<!--2. 砖/驻砖 , 砖 转 爪驻转 拽专转 注专:   转砖 注转,  拽, 注 注专 砖砖 拽 注转  专拽 拽 , 住注 -专 转 注转  驻砖, 爪注 转 注转 注 注 拽专 砖驻/专 壮.<br/>-->
<!--3. 砖  砖 驻住 注拽 转 注转 转 转注转 拽专<br/>-->
<!--4. 砖 转拽砖专    驻 注专 注爪,   专  砖 砖 转 注转.-->
<!--</p>-->

<!--<p>-->
<!--专 砖/砖转 注转  砖注  转 转, 砖 爪专 拽砖专 拽 驻砖专 注 转 砖注砖转 转 驻转专 状爪专 拽砖专 注 砖 注转状 驻专驻 砖 砖.-->
<!--</p>-->

<!--<p>-->
	<!--<%= t('.paragraph_3', locale: @locale) %>-->
<!--</p>-->


