<% title "Invites" %>
<div id="invites">
  <form class="form-inline">
    <%= text_field_tag :search,nil, class: "search", placeholder: "חיפוש חופשי" %>
  </form>
  <table id="staff_table">
    <thead>
      <tr>
        <th>עיר</th>
        <th>אורח</th>
        <th>מייל אורח</th>
        <th>מארח</th>
        <th>מייל מארח</th>
        <th>סטטוס</th>
      </tr>
    </thead>
    <tbody class="list">
      <% for invite in @invites %>
        <tr>
          <td class="city_name"><%= invite.host.try(:city_name) %></td>
          <td class="guest_name"><%= invite.guest.try(:name) %></td>
          <td class="guest_email"><%= invite.guest.try(:email) %></td>
          <td class="host_name"><%= invite.host.try(:full_name) %></td>
          <td class="host_email"><%= invite.host.try(:email) %></td></td>
          <td class="display_status"><%= invite.try(:display_status) %></td></td>
        </tr>
      <% end %>
    </tbody>
  </table>  

</div>
