<% title "Invites" %>

<table id="staff_table">
  <tr>
    <th>עיר</th>
    <th>אורח</th>
    <th>מייל אורח</th>
    <th>מארח</th>
    <th>מייל מארח</th>
    <th>סטטוס</th>
  </tr>
  <% for invite in @invites %>
    <tr>
      <td><%= invite.host.try(:city_name) %></td>
      <td><%= invite.guest.try(:name) %></td>
      <td><%= invite.guest.try(:email) %></td>
      <td><%= invite.host.try(:full_name) %></td>
      <td><%= invite.host.try(:email) %></td>
      <td><%= invite.try(:confirmed) ? "מאושר" : "ממתין לאישור" %></td>
    </tr>
  <% end %>
</table>