<div class="x">X</div>
<h1>
	<%= t '.title1' %>
</h1>
<h2>
	<%= t '.title1' %>
</h2>


<%= simple_form_for @guest, url: hosts_send_request_path do |f| %>
		<% if @guest.errors.any? %>
			<div class="error">
				Please fill in all fields
			</div>
		<% end %>
   	<%= f.input :name, label: false, placeholder: t('.name') %>
    <%= f.input :email, label: false, placeholder: t('.email') %>
    <%= f.input :phone, label: false, placeholder: t('.phone') %>
    <%= f.input :num_of_friends, label: false, placeholder: t('.num_of_friends') %>
    <%= f.input :host_id, as: :hidden %>
  	<%= f.submit t('.submit'), class: "btn" %>
<% end %>


