<div class="text-center">
  <h3><%= t '.title' %></h3>
  <p class="text-center margin-top-10 already_a_member">
    <span><%= t 'users.new.already_a_member' %></span>
    <a ng-click="toggleView('login')"><%= t 'users.new.sign_in_to_system' %></a>
  </p>
  <p class="subtitle"><%= t '.subtitle' %></p>
</div>


<form ng-controller="GuestSignupController"
      id="signup-container"
      ng-submit="submit($event)"
      name="signupForm" >
  <ul class="errors">
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>
  <div class="form-group">
    <label for="fullName" class="required"><%= t 'users.new.labels.full_name' %></label>
    <input type="text" class="form-control"
           id="fullName" placeholder="<%= t 'users.new.placeholders.full_name' %>"
           ng-model="form.fullName"
           required>
  </div>

  <div class="form-group">
    <label for="fullName" class="required"><%= t 'users.new.labels.email' %></label>
    <input type="email" class="form-control"
           id="email" placeholder="<%= t 'users.new.placeholders.email' %>"
           ng-model="form.email"
           required>
  </div>

  <div class="form-group" ng-class="">
    <label for="emailConfirmation" class="required"><%= t 'users.new.labels.phone' %></label>
    <input type="text" class="form-control"
           id="emailConfirmation" placeholder="<%= t 'users.new.placeholders.phone' %>"
           ng-model="form.phone"
           is-phone
           required>
  </div>

  <div class="form-group">
    <label for="password" class="required"><%= t 'users.new.labels.password' %></label>
    <input type="password" class="form-control"
           id="password" placeholder="<%= t 'users.new.placeholders.password' %>"
           ng-model="form.password"
           required>
  </div>

  <div class="form-group">
    <label for="passwordConfirmation" class="required"><%= t 'users.new.labels.password_confirmation' %></label>
    <input type="password" class="form-control"
           id="passwordConfirmation" placeholder="<%= t 'users.new.placeholders.password_confirmation' %>"
           ng-model="form.passwordConfirmation"
           required
           compare-to="form.password">
  </div>

  <div class="form-group">
    <div class="checkbox checkbox-inline">
      <label class="required chkbx">
        <input type="checkbox" ng-model="form.agreedToTermsAt" required>
        <%= t('shared.agreed_to_terms_at').html_safe %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox checkbox-inline">
      <label class="required chkbx">
        <input type="checkbox" ng-model="form.subscribedToMarketing" required>
        <%= t('shared.subscribed_to_marketing').html_safe %>
      </label>
    </div>
  </div>

  <input type="submit" class="btn btn-warning form-control" value="<%= t 'shared.continue' %>">
</form>




