<div class="text-center request-successful">
 <h3><%= t '.title' %></h3>
 <p class="subtitle"><%= t '.subtitle' %></p>

 <div class="margin-top-20">
 	<div class="buttons-container">
    <button class="zb-btn btn-orange" ng-click="fbShare()"><%= t '.facebook_share' %></button>
    <button class="zb-btn btn-white" ng-click="close('<%= t 'layouts.header.homepage_url' %>')"><%= t 'shared.back_to_website' %></button>
  </div>
 </div>
</div>