<div class="col-xs-12 request-invite">
	<span class="glyphicon glyphicon-remove" ng-click="close()"></span>
	<div ng-if="view === 'register' || view === 'login'" class="register">
		<div ng-show="view === 'register'">
			<%= render "guests/register" %>
		</div>

		<div ng-show="view === 'login'">
			<%= render "guests/login" %>
		</div>
	</div>

	<div ng-if="view === 'request'">
		<%= render "guests/request" %>
	</div>

	<div ng-if="view ==='success'">
		<%= render "guests/request_successful" %>
	</div>

	<div ng-if="view ==='error'">
		<%= render "guests/request_error" %>
	</div>


</div>
