<div class="col-xs-12" id="guest-index" ng-controller="GuestIndexController"
     ng-init="init(<%= @guests.to_json(:include => [:user, :invites]) %>, <%= @total_guests.to_json %>, <%= @page.to_json %>)">

 <div class="col-xs-12" ng-if="success">
    <div class="alert alert-success" role="alert">
      נחמק בהצלחה
    </div>
  </div>

  <span us-spinner class="zb-spinner" ng-if="loading" spinner-on="loading"></span>
  <!-- Filters -->
  <form class="form-inline margin-bottom-20">
    <div class="form-group pull-left">
      <input type="text" class="form-control"
             ng-model="search.query"
             placeholder="<%= t 'shared.free_search' %>" />
    </div>
  </form>

  <table class="table guest-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>שם</th>
        <th>מייל</th>
        <th>טלפון</th>
        <th>מארח</th>
        <td>תאריך בקשה</td>
        <td>אורחים נוספים</td>
        <th>מחק</th>
        <th>הפוך ללא זמין</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="guest in guests" ng-click="editGuest(guest)">
        <td>{{ guest.id }}</td>
        <td>{{ guest.user.full_name }}</td>
        <td>{{ guest.user.email }}</td>
        <td>{{ guest.phone }}</td>
        <td><a ng-href="/<%=I18n.locale.to_s%>/hosts/{{hostId(guest)}}">{{ hostId(guest) }}</a></td>
        <td>{{ formatDateTime((guest.invites[0] || {}).created_at) }}</td>
        <td>{{ plusOnes(guest) }}</td>
        <td>
          <button ng-click="deleteGuest(guest)"
                  class="btn btn-warning">
            <%= t 'shared.delete' %>
          </button>
        </td>
        <td>
        <% if current_user.meta.is_a?(Manager) && current_user.admin? && !current_user.sub_admin? %>
          <button ng-disabled="!guest.user.active_this_year" ng-click="deactivateGuest(guest)"
                  class="btn btn-warning">
            <%= t 'shared.deactivate' %>
          </button>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <uib-pagination total-items="totalGuests"
                  ng-model="pagination.currentPage"
                  items-per-page="10"
                  ng-change="pageChanged()"
                  class="pagination-sm"
                  max-size="5"
                  boundary-link-numbers="true"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;">
  </uib-pagination>

</div>

