<div class="col-xs-12" ng-controller="WitnessAssignController"
     ng-init="init(<%= @witness.to_json %>, <%= @hosts.to_json(:include => [:user, :city]) %>, <%= @cities.to_json %>, <%= @city_id.to_json %> )">
  <div class="row">
    <div class="col-xs-12">
      <!-- Host filters -->
      <form class="form-inline" name="hostFilter">
        <span><%= t 'shared.filter_by' %></span>

        <div class="form-group">
          <select class="form-control" ng-model="filter.city_id"
                  ng-options="o.id as o.name for o in cities">
            <option value=""><%= t 'shared.city' %></option>
          </select>
        </div> 
      </form>

      <!-- Host table -->
      <table class="table host-table">
        <thead>
          <tr>
            <th ng-click="setSortProp('user.id')">
              <%= t 'shared.id' %>
              <span class="caret" ng-if="sortProp === 'user.id'"></span>
            </th>
            <th ng-click="setSortProp('user.full_name')">
              <%= t 'shared.name' %>
              <span class="caret" ng-if="sortProp === 'user.full_name'"></span>
            </th>
            <th ng-click="setSortProp('city.name')">
              <%= t 'shared.city' %>
              <span class="caret" ng-if="sortProp === 'city.name'"></span>
            </th>
            <th ng-click="setSortProp('address')">
              <%= t 'shared.address' %>
              <span class="caret" ng-if="sortProp === 'address'"></span>
            </th>
            <th ng-click="setSortProp('hosted_before')">
              <%= t 'shared.hosted_before' %>
              <span class="caret" ng-if="sortProp === 'hosted_before'"></span>
            </th>
            <th ng-click="setSortProp('free_text')">
              <%= t 'shared.free_text' %>
              <span class="caret" ng-if="sortProp === 'free_text'"></span>
            </th>
            <th></th>
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="host in hosts">
            <td>{{ host.user.id }}</td>
            <td>{{ host.user.full_name }}</td>
            <td>{{ host.city.name }}</td>
            <td>{{ host.address }}</td>
            <td>{{ formatBool(!host.hosted_before) }}</td>
            <td>{{ host.free_text }}</td>
            <td>
            	<button ng-click="assignHost(host)" class="btn btn-warning">
	            	<%= t 'shared.assign' %>
	            </button>
	          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>

<script type="text/ng-template" id="assign-modal.html">
  <%= render 'witnesses/assign_modal' %>
</script>