<div class="col-xs-12" ng-controller="WitnessAssignController"
     ng-init="init(<%= @witness.to_json() %>, <%= @city_id.to_json %> )">
  <div class="row">
    <div class="col-xs-12" ng-if="success">
      <div class="alert alert-success" role="alert">
        ציוות בוצע בהצלחה
      </div>
    </div>

    <div class="col-xs-12" ng-if="!success">
      <!-- Host filters -->
      <form class="form-inline" name="hostFilter">
        <span><%= t 'shared.filter_by' %></span>

        <div class="form-group">
          <label for="city_name">עיר/יישוב</label>
          <input type="text" class="form-control"
                 id="city_name"
                 ng-model="current_city"
                 typeahead-editable="false"
                 typeahead-on-select="onAssignCitySelect($item)"
                 uib-typeahead="city as city.name for city in getCityLocation($viewValue, 97)"
                 placeholder="<%= t 'shared.city' %>">
        </div>

        <div class="form-group pull-left">
          <input type="text" class="form-control" ng-model="filter.query"
                 placeholder="<%= t 'shared.search' %>" />
        </div>
      </form>

      <div class="margin-top-10">
        <span>סה"כ מארחים:</span> <span class="total-summary ng-binding">{{hosts_count}}</span>
      </div>

      <!-- Host table -->
      <table class="table host-table">
        <thead>
          <tr>
            <th ng-click="setSortProp('id')">
              <%= t 'shared.id' %>
              <span class="caret" ng-if="sortProp === 'id'"></span>
            </th>
            <th ng-click="setSortProp('user.full_name')">
              <%= t 'shared.name' %>
              <span class="caret" ng-if="sortProp === 'user.full_name'"></span>
            </th>
            <th ng-click="setSortProp('city.name')">
              <%= t 'shared.city' %>
              <span class="caret" ng-if="sortProp === 'city.name'"></span>
            </th>
            <th ng-click="setSortProp('address')">
              <%= t 'shared.address' %>
              <span class="caret" ng-if="sortProp === 'address'"></span>
            </th>
            <th ng-click="setSortProp('hosted_before')">
              <%= t 'shared.hosted_before' %>
              <span class="caret" ng-if="sortProp === 'hosted_before'"></span>
            </th>
            <th ng-click="setSortProp('free_text')">
              <%= t 'shared.free_text' %>
              <span class="caret" ng-if="sortProp === 'free_text'"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="host in hosts">
            <td>{{ host.id }}</td>
            <td>{{ host.user.full_name }}</td>
            <td>{{ host.city.name }}</td>
            <td>{{ host.address }}</td>
            <td>{{ formatBool(!host.hosted_before) }}</td>
            <td>{{ host.free_text }}</td>
            <td>
            	<button ng-click="assignHost(host)" class="btn btn-warning">
	            	<%= t 'shared.assign' %>
	            </button>
	          </td>
          </tr>
        </tbody>
      </table>

      <uib-pagination total-items="hosts_count"
                      ng-model="pagination.currentPage"
                      items-per-page="10"
                      ng-change="pageChanged()"
                      class="pagination-sm"
                      max-size="5"
                      boundary-link-numbers="true"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"
                      first-text="&laquo;"
                      last-text="&raquo;">
      </uib-pagination>

    </div>
  </div>
</div>

<script type="text/ng-template" id="assign-modal.html">
  <%= render 'witnesses/assign_modal' %>
</script>
