<div id="witness-show" class="row profile" ng-controller="WitnessShowController"
      ng-init="init(<%= @witness.to_json(:include => [:city, { host: { :include => :user } }, { comments: { :include => :user } }]) %>)">

  <div class="col-xs-12">
    <h1><%= t '.title' %></h1>
  </div>
  
  <div class="col-xs-8">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
           <div class="info-title"><%= t 'profile.personal_details' %></div>
           <div>
            <a href="/witnesses/{{ witness.id }}/edit">
              <%= t 'profile.labels.edit' %>
            </a>
           </div>
        </div>
        <div class="panel-body">
          
          <div class="field-group">
            <div class="info-label"><%= t 'profile.labels.name' %></div>
            <div>{{ witness.full_name }}</div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t 'profile.labels.phone' %></div>
            <div>{{ witness.phone }}</div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t 'profile.labels.email' %></div>
            <div>{{ witness.email }}</div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t 'profile.labels.address' %></div>
            <div>{{ witness.address }}</div>
          </div>
        </div>

        <div class="panel-body">
          
        </div>
      </div>
    </div>

    <% if current_user && (current_user.meta.is_a?(Manager) || current_user.admin?) %>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="info-title">
              <%= t 'hosts.show.manager_actions' %>
            </div>
          </div>
          <div class="panel-body">

            <!-- Host -->
            <div class="field-group">
              <div class="info-label"><%= t 'profile.labels.host' %></div>
              <div ng-if="witness.host">
                {{ witness.host.user.full_name }}
              </div>

              <div ng-if="!witness.host && !witness.external_assignment">
                <%= link_to t('profile.assign_host'), assign_witness_path(@witness) %>
              </div>

              <div ng-if="!witness.host && witness.external_assignment">
                צוות מחוץ למערכת
              </div>
            </div>  
            
            <!-- Seminar -->
            <div class="field-group">
              <div class="info-label"><%= t 'profile.labels.seminar_required' %></div>
              <div>
                <div class="radio">
                  <label>
                    <input type="radio"
                           name="seminar_required"
                           id="seminarRequiredFalse"
                           ng-value="false"
                           ng-model="witness.seminar_required">
                    <b><%= t 'shared.no' %></b>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio"
                           name="seminar_required"
                           id="seminarRequiredTrue"
                           ng-value="true"
                           ng-model="witness.seminar_required">
                    <b><%= t 'shared.yes' %></b>
                  </label>
                </div>
              </div>
            </div>

            <!-- Special Population -->
            <div class="field-group">
              <div class="info-label">
                <%= t 'profile.labels.special_population' %>
              </div>
              <div>
                <div class="radio">
                  <label>
                    <input type="radio"
                           name="special_population"
                           id="specialPopulationFalse"
                           ng-value="false"
                           ng-model="witness.special_population">
                    <b><%= t 'shared.no' %></b>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio"
                           name="special_population"
                           id="specialPopulationTrue"
                           ng-value="true"
                           ng-model="witness.special_population">
                    <b><%= t 'shared.yes' %></b>
                  </label>
                </div>
              </div>
            </div>
    
            <!-- Concept -->
            <div class="field-group">
              <div class="info-label"><%= t 'profile.labels.concept' %></div>
              <div>
                <select class="form-control"
                        ng-model="witness.concept"
                        ng-options="o.v as o.n for o in [
                          { n: '<%= t 'shared.concept.religious_and_secular' %>', v: 'religious_and_secular' },
                          { n: '<%= t 'shared.concept.vetrans' %>', v: 'vetrans' },
                          { n: '<%= t 'shared.concept.eastern' %>', v: 'eastern' }
                        ]">
                <option ng-show="!witness.concept" value=""><%= t 'shared.select' %></option>
              </select>
              </div>
            </div>

            <!-- Type -->
            <div class="form-group ">
                <label for="witness_type" >
                  <%= t 'shared.type' %>
                </label>
                <select class="form-control" id="witness_type" 
                        ng-model="witness.witness_type"
                        ng-options="o.v as o.n for o in witnessTypes">
                  <option ng-show="!witness.concept" value=""><%= t 'shared.select' %></option>
                </select>
            </div>
          </div>

          <div class="panel-body">
            <!-- External assignment-->
            <% if current_user && current_user.any_admin? %>
              <div class="field-group">
                <div class="info-label">
                  <%= t 'profile.labels.external_assignment' %>
                </div>
                <div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"
                             name="external_assignment"
                             ng-model="witness.external_assignment">
                      <%= t 'profile.external_assignment_text' %>
                    </label>
                  </div>
                </div>
              </div>
            <% end %>
            
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <button class="btn btn-warning"  
                  ng-click="save()">
          <%= t 'shared.save' %>
        </button>
      </div>

      <div class="col-xs-12" ng-if="success">
        <div class="alert alert-success" role="alert">
          <%= t 'profile.updated' %>
        </div>
      </div>

      <div class="col-xs-12 panel">
          <div comment-form obj="witness" resource="witnesses" 
               user-id="<%= current_user.id %>"
               callback="commentCallback"></div>
        </div>
    <% end %>
  </div>
  
  <% if current_user && current_user.meta.is_a?(Manager) %>
    <div class="col-xs-4">
      <div comment-list comments="witness.comments"/></div>
    </div>
  <% end %>
</div>