<div class="col-xs-12" id="host-edit-form" ng-controller="HostEditController"
     ng-init='init()'>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <img class="hidden-xs" ng-src="{{ getProgressBarSrc() }}">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <h2><%= t '.title' %></h2>
      <p><%= t '.subtitle' %></p>
      <p><%= t '.temp_subtitle' %></p>
      <!-- Step one -->
      <form name="stepOne" ng-show="'stepOne' === steps[stepIndex]" novalidate>

        <div class="form-group">
          <label for="phone" class="required"><%= t '.phone' %></label>
          <input type="text" class="form-control"
                 name="phone"
                 ng-class="{true: 'error'}[submitted[stepIndex] && stepOne.phone.$invalid]"
                 id="phone"
                 ng-model="host.phone"
                 is-phone
                 required>
        </div>

        <div class="form-group">
          <label><%= t '.hosted_before' %></label>
          <div class="radio">
            <label>
              <input type="radio"
                     name="hostedBefore"
                     id="hostedBeforeFalse"
                     ng-value="false"
                     ng-model="host.hosted_before"
                     checked>
              <%= t '.hosted_before_no' %>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio"
                     name="hostedBefore"
                     id="hostedBeforeTrue"
                     ng-value="true"
                     ng-model="host.hosted_before">
              <%= t '.hosted_before_yes' %>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label><%= t '.organization' %></label>
          <p class="help-block"><%= t '.org_help_block' %></p>
          <div class="radio">
            <label>
              <input type="radio"
                     name="organization"
                     id="organizationFalse"
                     ng-value="false"
                     ng-model="organization"
                     ng-change='orgChanged(organization)'
                     checked>
              <%= t 'shared.no' %>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio"
                     name="organization"
                     id="organizationTrue"
                     ng-value="true"
                     ng-model="organization"
                     ng-change='orgChanged(organization)'>
              <%= t 'shared.yes' %>
            </label>
          </div>
        </div>

        <div ng-if="organization">
          <div class="form-group">
            <label for="orgName" class="required"><%= t '.org_name' %></label>
            <input type="text" class="form-control"
                   id="orgName"
                   name="org_name"
                   ng-class="{true: 'error'}[submitted[stepIndex] && stepOne.org_name.$invalid]"
                   ng-model="host.org_name"
                   required>
          </div>
        </div>


        <div ng-if="submitted[stepIndex] && stepOne.$invalid" class="text-danger">
          <%= t('.please_fill_in_required_fields') %>
        </div>

        <button ng-click="submitStepOne()" class="btn btn-warning"><%= t 'shared.next' %></button>
      </form>

      <!-- Step two -->
      <form name="stepTwo" ng-show="'stepTwo' === steps[stepIndex]" novalidate>
        <div class="form-group"
             ng-class="{true: 'has-error'}[submitted[stepIndex] && stepTwo.country_id.$invalid]">
          <label for="country_id" class="required"><%= t 'shared.country' %></label>
          <input
            class="form-control"
            type="text"
            name="country_id"
            ng-model="current_country"
            ng-blur="onCountrySet()"
            ng-model-options="{ debounce: 200 }"
            uib-typeahead="country as country.printable_name for country in getCountryLocation($viewValue)"
            placeholder="<%= t 'shared.country_placeholder' %>"
            required>
        </div>

        <div class="form-group"
             ng-class="{true: 'has-error'}[submitted[stepIndex] && stepTwo.city_id.$invalid]">
          <label for="city_id" class="required"><%= t '.city' %></label>
          <input
            class="form-control"
            type="text"
            name="city_id"
            ng-model="current_city"
            ng-blur="onCitySet()"
            ng-disabled="!current_country"
            ng-model-options="{ debounce: 200 }"
            uib-typeahead="city as city.name for city in getCityLocation($viewValue, current_country.id)"
            placeholder="<%= t '.city_placeholder' %>"
            required>
            <div class="text-danger" ng-hide="current_city_exist"><%= t 'shared.missing_city_hint' %></div>
        </div>

        <div class="form-group"
             ng-class="{true: 'has-error'}[submitted[stepIndex] && stepTwo.address.$invalid]">
          <label for="address" class="required"><%= t '.address' %></label>
          <input type="text" class="form-control"
                 name="address"
                 placeholder="<%= t '.address_placeholder' %>"
                 id="address"
                 ng-model="host.address"
                 required>
        </div>

        <div class="form-group"
             ng-class="{true: 'has-error'}[submitted[stepIndex] && stepTwo.floor.$invalid]">
          <label for="floor" class="required"><%= t '.floor' %></label>
            <select class="form-control" id="floor"
                    ng-model="host.floor"
                    name="floor"
                    required
                    ng-options="o.v as o.n for o in [
                      { n: '<%= t '.ground_floor' %>', v: 0 }, { n: '1', v: 1 },
                      { n: '2', v: 2 }, { n: '3+', v: 3 }
                    ]">
              <option ng-show="!host.floor" value=""><%= t 'shared.select' %></option>
            </select>
        </div>

        <div class="form-group"
             ng-class="{true: 'has-error'}[submitted[stepIndex] && stepTwo.elevator.$invalid]">
          <label for="elevator" class="required"><%= t '.elevator' %></label>
            <select class="form-control" id="elevator"
                    ng-model="host.elevator"
                    name="elevator"
                    required
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
              <option ng-show="!host.elevator" value=""><%= t 'shared.select' %></option>
            </select>
        </div>

        <div class="form-group">
          <label><%= t '.event_date' %></label>
          <p class="help-block"><%= t '.event_date_help_block' %></p>
          <input type="date" ng-model="host.event_date" class="form-control" name="event_date" value="<%= @host.event_date %>" date-format="yyyy-mm-dd"/>
        </div>

        <div class="form-group">
          <label><%= t '.event_time' %></label>
          <p class="help-block"><%= t '.event_time_help_block' %></p>

          <input type="time" ng-model="host.event_time" class="form-control" name="event_time"/>
        </div>

        <div ng-if="submitted[stepIndex] && stepTwo.$invalid" class="text-danger">
          <%= t('.please_fill_in_required_fields') %>
        </div>

        <button class="btn btn-info" ng-click="back()"><%= t 'shared.back' %></button>
        <button class="btn btn-warning" ng-click="submitStepTwo()"><%= t 'shared.next' %></button>
      </form>

      <!-- Step three -->
      <form name="stepThree" ng-show="'stepThree' === steps[stepIndex]" novalidate>
        <div class="form-group"
             ng-class="{true: 'has-error'}[submitted[stepIndex] && stepThree.event_language.$invalid]">
          <label for="event_language" class="required"><%= t '.event_language' %></label>
          <div>
            <select class="form-control" id="event_language"
                    name="event_language"
                    required
                    ng-model="host.event_language" ng-change="languageChanged()">
              <option ng-show="!host.language" value=""><%= t 'shared.select' %></option>
              <option value="hebrew">עברית</option>
              <option value="english">English</option>
              <option value="arabic">العربية</option>
              <option value="french">Français</option>
              <option value="russian">русский</option>
              <option value="spanish">Español</option>
              <option value="other"><%= t 'shared.other' %></option>
            </select>
          </div>
          <input type="text" class="form-control"
                 ng-model="host.event_language"
                 ng-show="otherLanguageVisible" />
        </div>

        <% if I18n.locale == :he %>
          <div class="form-group"
               ng-class="{true: 'has-error'}[submitted[stepIndex] && stepThree.survivor_needed.$invalid]">
            <label class="required"><%= t '.survivor_needed' %></label>
            <p class="help-block"><%= t '.survivor_needed_help_block' %></p>

            <div>
              <select class="form-control" id="survivor_needed"
                      ng-model="host.survivor_needed"
                      name="survivor_needed"
                      required
                      ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
               <option ng-show="!host.survivor_needed" value=""><%= t 'shared.select' %></option>
              </select>
            </div>
          </div>
        <% end %>

        <div ng-if="stepTwo.country_id.$modelValue.id === 97">
          <div class="form-group">
            <label class="required"><%= t '.preparation_wanted' %></label>
            <div>
              <ng-form name="preparationWantedGroup">
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="host.preparation_wanted" ng-value="false" name="preparation_wanted" required>
                    <%= t 'shared.no' %>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="host.preparation_wanted" ng-value="true" name="preparation_wanted" required>
                    <%= t 'shared.yes' %>
                  </label>
                </div>
              </ng-form>
            </div>
          </div>

          <div class="form-group"
              ng-class="{true: 'has-error'}[submitted[stepIndex] && stepThree.strangers.$invalid]">
            <label class="required"><%= t '.strangers' %></label>
            <p class="help-block"><%= t '.strangers_help_block' %></p>

            <div>
              <select class="form-control" id="strangers"
                      name="strangers"
                      required
                      ng-model="host.strangers"
                      ng-options="o.v as o.n for o in [{ n: '<%= t '.strangers_yes' %>', v: true }, { n: '<%= t '.strangers_no' %>', v: false }]">
                <option ng-show="!host.strangers" value=""><%= t 'shared.select' %></option>
              </select>
            </div>
          </div>

          <div class="form-group" ng-if="host.strangers"
              ng-class="{true: 'has-error'}[submitted[stepIndex] && stepThree.max_guests.$invalid]">
            <label for="max_guests" class="required"><%= t '.max_guests' %></label>
            <p class="help-block"><%= t '.max_guests_help_block' %></p>
            <input type="number" class="form-control"
                  required name="max_guests"
                  id="max_guests" ng-model="host.max_guests"
                  min="0">
          </div>

          <div class="form-group" ng-if="host.strangers">
            <label for="public_text" ><%= t '.public_text' %></label>
            <p class="help-block"><%= t '.public_text_help_block' %></p>
            <textarea
              type="text" class="form-control"
              name="public_text"
              id="public_text" ng-model="host.public_text"
              rows="7">
              </textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="free_text"><%= t '.free_text' %></label>
          <textarea id="free_text" class="form-control" ng-model-options="{ debounce: 500 }" ng-model="host.free_text" style="height: 250px; max-width: 330px;"></textarea>
        </div>

        <div ng-if="submitted[stepIndex] && stepThree.$invalid" class="text-danger">
          <%= t('.please_fill_in_required_fields') %>
        </div>

        <button class="btn btn-info" ng-click="back()"><%= t 'shared.back' %></button>
        <button class="btn btn-warning"  ng-click="submitStepThree()"><%= t '.finish' %></button>
      </form>
    </div>
  </div>


</div>

<script type="text/ng-template" id="host-signup-finished.html">
  <div class="modal-body text-center host-signup-finished">
      <div class="close glyphicon glyphicon-remove" ng-click="cancel()"></div>
      <img src="/assets/couch.png" />
      <p><%= t '.thanks_for_joining' %></p>
      <p><smaller><%= t '.thanks_for_joining2' %></smaller></p>
      <div class="buttons-container">
        <button class="zb-btn btn-blue" ng-click="fbShare()"><%= t '.facebook_share' %></button>
        <button class="zb-btn btn-white" ng-click="buildEvening()"><%= t '.build_evening' %></button>
      </div>
  </div>
</script>
