<div id="staff_container">
  <form class="form-inline">
    <div class="filter_by">Filter by:</div>
    <%= select_tag :city_name, options_for_select(City.all.map(&:name)), prompt: "City" %>

    <%= select_tag :survivor_needed, options_for_select(["זקוק","לא זקוק","Sent"]), prompt: "בחר/י"%>

    <%= select_tag :strangers, options_for_select([['מוכן', true], ['לא מוכן', false]]), prompt: "בחר/י" %>

    <%= image_tag "excel.png", id: "export_to_excel" %>
  </form>

  <div id="hosts">
    <table id="staff_table">
      <thead>
        <tr>
        <th>&nbsp;</th>
        <th class="sort" data-sort="f_name">
          First Name
            <div class="header_line"></div>
        </th>
        <th class="sort" data-sort="l_name">
          Last Name
          <div class="header_line"></div>
        </th>
        <th>Address<div class="header_line"></div></th>
        <th class="sort" data-sort="strangers">Strangers allowed<div class="header_line"></div></th>
        <th class="sort" data-sort="city_name">City<div class="header_line"></div></th>
        <th>Phone Number<div class="header_line"></th>
        <th class="sort" data-sort="email"> Email<div class="header_line"></div></th>
        <th class="sort" data-sort="survivor_needed">Needs Survivor<div class="header_line"></div></th>
        <th>Status<div class="header_line"></div></th>
      </tr>
      </thead>
      <tbody class="list">
      <% @hosts.each do |host| %>
        <tr>
            <td >
              <%= link_to edit_host_path(host) do %>
              <div class="circle">
                <%= inline_svg "edit.svg" %>
              </div>
              <% end %>
            </td>
            <td class="f_name"><%= host.f_name %></td>
            <td class="l_name"><%= host.l_name %></td>
            <td class="address"><%= host.address %></td>
            <td class="strangers <%= strangers_class(host.strangers) %>"><%= inline_svg(get_guests_svg(host.strangers)) %><%= host.strangers %></td>
            <td class="city_name"><%= host.city_name %></td>
            <td class="phone"><%= host.phone %></td>
            <td class="email"><%= host.email %></td>
            <td class="survivor_needed"><%= host.survivor_needed %></td>
            <td class="status"><%= host.staatus %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>