<% title "New Host" %>

<div class="container_inner">
  <div class="title">
    <%= t '.title' %>
  </div>
  <br>
<div class="explenation">
  <p>
    <%= t '.explenation' %>
  </p>
</div>

  <div class="form_header">
    <%= t '.title2' %>
  </div>
  <noscript><p><%= t '.no_script' %></p></noscript>

  <%= form_for @host, html: {class: "form-horizontal"} do |f| %>

    <div class="control-group">
      <%= f.label :f_name, t('.f_name'), class: "control-label" %>
      <div class="controls">
        <%= f.text_field :f_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :l_name, t('.l_name'), class: "control-label" %>
      <div class="controls">
        <%= f.text_field :l_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, t('.email'), class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, t('.phone'), class: "control-label" %>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, t('.address'), class: "control-label" %>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>

    <%= f.hidden_field :city_name %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>

    <div class="control-group">
     <%= f.label :survivor_needed, t('.survivor_needed'), class: "control-label" %>
      <div class="controls">
        <%= f.select :survivor_needed,options_for_select([t('.need'),t('.dont_need')]), prompt: t('.choose') %>
      </div>
    </div>

   <div class="control-group">
     <%= f.label :strangers, t('.strangers'), class: "control-label" %>
    <div class="controls">
      <%= f.select :strangers,[[t('.willing'), true], [t('.not_willing'), false]], prompt: t('.choose') %>
    </div>
  </div>

  <div class="control-group">
     <%= f.label :max_guests, t('.max_guests'), class: "control-label" %>
    <div class="controls">
      <%= f.number_field :max_guests, min: 0 %>
    </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <%= f.text_area :free_text, placeholder: t('.free_text') %>
      </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.submit'), class: "host_submit" %>
    </div>
  </div>

  <% end %>
</div>





