<% title "New Host" %>

<div class="container_inner">
  <div class="title">רוצה לארח</div>
  <br>
<div class="explenation">
<p>
אנחנו שמחים שבחרת לארח ערב "זיכרון בסלון".
ערב מוצלח מחייב תכנון מוקדם ואנחנו כאן כדי לסייע.
כל שאלה לגבי הזמנת אורחים, הערכות לוגיסטית, תכני הערב ועוד, תקבל מענה עם השלמת ההרשמה.
תודה רבה וברוכים הבאים.
</p>
</div>

  <div class="form_header">הרשמו בתור מארחים לזיכרון בסלון וקבלו את כל הפרטים:</div>
  <noscript><p>מתנצלים, אבל בכדי שההרשמה תעבוד עליך להתמש בדפדפן אשר מאפשר הרצת ג'אווהסקריפט. תודה</p></noscript>

  <%= form_for @host, html: {class: "form-horizontal"} do |f| %>

    <div class="control-group">
      <%= f.label :f_name, "שם פרטי", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :f_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :l_name, "שם משפחה", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :l_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, "Email", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, "טלפון", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, "רחוב", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>

    <%= f.hidden_field :city_name %>
    <%= f.hidden_field :lat %>
    <%= f.hidden_field :lng %>

    <div class="control-group">
     <%= f.label :survivor_needed, "זקוק לעזרה במציאת איש עדות?", class: "control-label" %>
      <div class="controls">
        <%= f.select :survivor_needed,options_for_select(["צריך","לא צריך"]), prompt: "בחר/י" %>
      </div>
    </div>

   <div class="control-group">
     <%= f.label :strangers, "מוכן לארח זרים", class: "control-label" %>
    <div class="controls">
      <%= f.select :strangers,[['מוכן', true], ['לא מוכן', false]], prompt: "בחר/י" %>
    </div>
  </div>

  <div class="control-group">
     <%= f.label :max_guests, "מס' אורחים מקסימאלי", class: "control-label" %>
    <div class="controls">
      <%= f.number_field :max_guests %>
    </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <%= f.text_area :free_text, placeholder: "עוד משהו שאנחנו צריכים לדעת?" %>
      </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "שלח/י", class: "host_submit" %>
    </div>
  </div>

  <% end %>
</div>





