<% title "New Host" %>

<div class="container_inner">
  <div class="title">Want Host?</div>
  <br>
  <div class="explenation">
    Here will be an explenation text saying bla bla bla and bla bla bla and what you should do in zikaron basalon and some more text and some more.
  </div>

  <div class="form_header">What to host? Fill in your details:</div>

  <%= form_for @host, html: {class: "form-horizontal"} do |f| %>

    <div class="control-group">
      <%= f.label :f_name, "First Name", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :f_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :l_name, "Last Name", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :l_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, "Email", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, "Phone", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, "Address", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :city_name, "City", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :city_name, data: {autocomplete_source: City.order(:name).map(&:name)} %>
      </div>
    </div>

    <div class="control-group">
     <%= f.label :survivor_needed, "Survivor needed", class: "control-label" %>
    <div class="controls">
      <%= f.select :survivor_needed,options_for_select(["Need","Don't Need"]), prompt: "Select" %>
    </div>
  </div>

   <div class="control-group">
     <%= f.label :strangers, "Strangers alowed", class: "control-label" %>
    <div class="controls">
      <%= f.select :strangers,[['Allowed', true], ['Not Allowed', false]], prompt: "Select" %>
    </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <%= f.text_area :free_text, placeholder: "anything else we need to know?" %>
      </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Submit", class: "host_submit" %>
    </div>
  </div>

  <% end %>
</div>





