<div id="success">
	<div class="request_sent">
		<%= image_tag "checkmark.png" %>
		<%= t '.request_sent' %>
	</div>
	<div class="text">
		<%= t '.subtitle' %>
	</div>

	<div id="links">
		<div class="link"><%= link_to t('.link1'), "https://www.facebook.com/ZikronBaSalon" %></div>
		<div class="link"><%= image_tag "website.png" %><%= link_to t('.link2'), "http://www.zikaronbasalon.com" %></div>
	</div>
</div>