<div id="host-show" class="row" ng-controller="HostShowController"
      ng-init="init(<%= @host.to_json(:include => [:user, :witness]) %>)">

  <div class="col-xs-12">
    <h1><%= t '.title' %></h1>
  </div>
  
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
         <div class="info-title"><%= t '.personal_details' %></div>

         <div>
          <span class="info-label"><%= t '.labels.registration_time' %>:</span>
          <span><b>{{ formatDateTime(host.created_at) }}</b></span>
         </div>
      </div>
      <div class="panel-body">
        
        <div class="field-group">
          <div class="info-label"><%= t '.labels.name' %></div>
          <div>{{ host.user.full_name }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.phone' %></div>
          <div>{{ host.phone }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.email' %></div>
          <div>{{ host.user.email }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.address' %></div>
          <div>{{ host.address }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
         <div class="info-title"><%= t '.evening_details' %></div>

         <div>
          <a href="/hosts/{{ host.id }}/edit"><%= t '.labels.edit' %></a>
         </div>
      </div>
      <div class="panel-body">
        
        <div class="field-group">
          <div class="info-label"><%= t '.labels.date_and_time' %></div>
          <div>{{ formatDate(host.event_date) }} {{ formatTime(host.event_time) }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.organization' %></div>
          <div>{{ host.org_name }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.langauge' %></div>
          <div>{{ host.event_language }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.accesability' %></div>
          <div>{{ getAccesability(host) }}</div>
        </div>
      </div>

      <div class="panel-body">
        
        <div class="field-group">
          <div class="info-label"><%= t '.labels.salon_type' %></div>
          <div>{{ formatStrangers(host.strangers) }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.open_places' %></div>
          <div>{{ host.max_guests }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.public_text' %></div>
          <div>{{ host.public_text }}</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.free_text' %></div>
          <div>{{ host.free_text }}</div>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.meta.is_a?(Manager) || current_user.admin? %>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
           <div class="info-title"><%= t '.manager_actions' %></div>
        </div>
        <div class="panel-body">
          
          <div class="field-group">
            <div class="info-label"><%= t '.labels.contacted' %></div>
            <div>
              <div class="radio">
                <label>
                  <input type="radio"
                         name="contacted"
                         id="contactedFalse"
                         ng-value="false"
                         ng-model="host.contacted">
                  <b><%= t 'shared.no' %></b>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio"
                         name="contacted"
                         id="contactedTrue"
                         ng-value="true"
                         ng-model="host.contacted">
                  <b><%= t 'shared.yes' %></b>
                </label>
              </div>
            </div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t '.labels.survivor_needed' %></div>
            <div>{{ formatBool(host.survivor_needed) }}</div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t '.labels.has_survivor' %></div>
            <div>{{ formatBool(host.witness) }}</div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t '.labels.survivor_contacted' %></div>
            <div>{{ formatBool(host.witness && host.witness.contacted_by_host) }}</div>
          </div>

          <div class="field-group">
            <div class="info-label"><%= t '.labels.concept' %></div>
            <div>
              <select class="form-control"
                      ng-model="host.concept"
                      ng-options="o.v as o.n for o in [
                        { n: '<%= t 'shared.concept.religious_and_secular' %>', v: 'religious_and_secular' },
                        { n: '<%= t 'shared.concept.vetrans' %>', v: 'vetrans' },
                        { n: '<%= t 'shared.concept.eastern' %>', v: 'eastern' }
                      ]">
              <option ng-show="!host.concept" value=""><%= t 'shared.select' %></option>
            </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  

  <div class="col-xs-12">
    <button class="btn btn-warning"  
              ng-click="save()">
      <%= t 'shared.save' %>
    </button>
    <button class="btn btn-info" 
            ng-click="back()">
      <%= t 'shared.return' %>
    </button>
  </div>

  <div class="col-xs-12" ng-if="success">
    <div class="alert alert-success" role="alert">
      <%= t '.host_updated' %>
    </div>
  </div>
  
</div>