<div id="host-show" class="row">

  <h1><%= t '.title' %></h1>
  
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
         <div class="info-title"><%= t '.personal_details' %></div>

         <div>
          <span class="info-label"><%= t '.labels.registration_time' %>:</span>
          <span>21.4.2016,  8:34</span>
         </div>
      </div>
      <div class="panel-body">
        
        <div class="field-group">
          <div class="info-label"><%= t '.labels.name' %></div>
          <div>עדן אבריאל</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.phone' %></div>
          <div>0547301130</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.email' %></div>
          <div>eden.basalon@gmail.com</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.address' %></div>
          <div>אחד העם 1, תל אביב , ישראל</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
         <div class="info-title"><%= t '.evening_details' %></div>

         <div>
          <a href=""><%= t '.labels.edit' %></a>
         </div>
      </div>
      <div class="panel-body">
        
        <div class="field-group">
          <div class="info-label"><%= t '.labels.date_and_time' %></div>
          <div>עדן אבריאל</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.organization' %></div>
          <div>0547301130</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.langauge' %></div>
          <div>eden.basalon@gmail.com</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.accesability' %></div>
          <div>אחד העם 1, תל אביב , ישראל</div>
        </div>
      </div>

      <div class="panel-body">
        
        <div class="field-group">
          <div class="info-label"><%= t '.labels.salon_type' %></div>
          <div>עדן אבריאל</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.open_places' %></div>
          <div>0547301130</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.public_text' %></div>
          <div>eden.basalon@gmail.com</div>
        </div>

        <div class="field-group">
          <div class="info-label"><%= t '.labels.free_text' %></div>
          <div>אחד העם 1, תל אביב , ישראל</div>
        </div>
      </div>
    </div>
  </div>


</div>