<div id="success">
	<div class="request_sent">
		<%= t '.title' %>
	</div>
	<div class="text">
		<%= t '.exp1' %>
	</div>

	<div class="box">
		<h1><%= t '.box_title1' %></h1>
		<div class="square">
			<%= image_tag "download.png" %>
			<h2><%= t '.download_title' %></h2>
			<div class="text"><%= t '.download_text' %></div>
		</div>

		<div class="v_line"></div>

		<div class="square">
			<%= image_tag "host_group.png" %>
			<h2><%= t '.facebook' %></h2>
			<div class="text">
				<%= t '.box_exp1' %>
			</div>
		</div>

		<div class="buttons">
			<div class="button_container">
				<div class="btn"><%= link_to(t('.download_kit'), "http://zikaronbasalon.herokuapp.com/host_kit_2015.pdf") %></div>
			</div>
			<div class="devider"></div>
			<div class="button_container">
				<div class="btn"><%= link_to t('.facebook_link'), "https://www.facebook.com/groups/zikron/" %></div>
			</div>
		</div>
	</div>



</div>