<div id="signup-container" ng-controller="UserSignupController"
        ng-init="init('<%= @type %>')" >

  <div class="text-center title-container">

    <% if params[:type] === 'host' || params[:type] === 'guest' %>
      <div ng-if="form.type === 'host'">
        <h2><%= t '.title' %></h2>
        <div class="description"><%= t '.description' %></div>
        <div class="description"><%= t '.description2' %></div>
        <p class="already_a_member">
          <span><%= t '.already_a_member' %></span>
          <a href="/<%=I18n.locale.to_s%>/users/sign_in"><%= t '.sign_in_to_system' %></a>
        </p>
      </div>

      <div ng-if="form.type === 'guest'">
        <h2><%= t '.guest_title' %></h2>
        <div class="description"><%= t '.guest_description' %></div>
        <p class="already_a_member">
          <span><%= t '.already_a_member' %></span>
          <a href="/<%=I18n.locale.to_s%>/users/sign_in"><%= t '.sign_in_to_system' %></a>
        </p>
      </div>

      <div class="margin-top-20">
        <div class="view-toggle">
          <div ng-class="{ 'selected': form.type === 'host' }"
               ng-click="toggleRegisterAs('host')"><%= t 'shared.be_a_host' %></div>

          <div ng-class="{ 'selected': form.type === 'guest' }"
               ng-click="toggleRegisterAs('guest')"><%= t 'shared.be_a_guest' %></div>
        </div>
      </div>
    <% else %>
      <h2><%= t '.manager_title' %></h2>
      <div class="description">
        <%= t '.manager_description' %>
      </div>
    <p class="already_a_member">
      <span><%= t '.already_a_member' %></span>
      <a href="/<%=I18n.locale.to_s%>/users/sign_in"><%= t '.sign_in_to_system' %></a>
    </p>
    <% end %>


  </div>

  <form
        action="users" method="post"
        ng-submit="submit($event)"
        name="signupForm" >
    <ul class="errors" ng-if="errors">
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div class="form-group">
      <label for="fullName" class="required"><%= t '.labels.full_name' %></label>
      <input type="text" class="form-control"
             id="fullName" placeholder="<%= t '.placeholders.full_name' %>"
             ng-model="form.fullName"
             required>
    </div>

    <div class="form-group">
      <label for="fullName" class="required"><%= t '.labels.email' %></label>
      <input type="email" class="form-control"
             id="email" placeholder="<%= t '.placeholders.email' %>"
             ng-model="form.email"
             required>
    </div>

    <div class="form-group" ng-class="">
      <label for="emailConfirmation" class="required"><%= t '.labels.email_confirmation' %></label>
      <input type="email" class="form-control"
           id="emailConfirmation" placeholder="<%= t '.placeholders.email_confirmation' %>"
             ng-model="form.emailConfirmation"
             required
             compare-to="form.email">
    </div>

    <div class="form-group" ng-if="form.type === 'guest'">
      <label for="phone" class="required"><%= t 'shared.phone' %></label>
      <input type="text" class="form-control"
             id="phone" placeholder="<%= t 'shared.phone' %>"
             ng-model="form.phone"
             is-phone
             required>
    </div>

    <div class="form-group">
      <label for="password" class="required"><%= t '.labels.password' %></label>
      <input type="password" class="form-control"
             id="password" placeholder="<%= t '.placeholders.password' %>"
             ng-model="form.password"
             required>
    </div>

    <div class="form-group">
      <label for="passwordConfirmation" class="required"><%= t '.labels.password_confirmation' %></label>
      <input type="password" class="form-control"
             id="passwordConfirmation" placeholder="<%= t '.placeholders.password_confirmation' %>"
             ng-model="form.passwordConfirmation"
             required
             compare-to="form.password">
    </div>

    <div class="form-group">
      <div class="checkbox checkbox-inline">
        <label class="required chkbx">
          <input type="checkbox" ng-model="form.agreedToTermsAt" required>
          <%= t('shared.agreed_to_terms_at').html_safe %>
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox checkbox-inline">
        <label class="required chkbx">
          <input type="checkbox" ng-model="form.subscribedToMarketing" required>
          <%= t('shared.subscribed_to_marketing').html_safe %>
        </label>
      </div>
    </div>

    <input type="submit" class="btn btn-warning form-control" value="<%= t 'shared.continue' %>">

  </form>
</div>
