<div id="signup-container">

  <div class="text-center title-container">
    <% if params[:type] === 'host' %>
      <h2><%= t '.title' %></h2>
      <div class="description"><%= t '.description' %></div>
    <% else %>
      <h2>הרשמת מוביל/ת קהילה זיכרון בסלון</h2>
      <div class="description">היי, איזה כיף שאתם פה :) נא להתחבר עם כתובת המייל אליה קיבלתם את הלינק לאזור האישי, ולהזין סיסמא ראשונית</div>
    <% end %>
  </div>

  <form ng-controller="UserSignupController"
        ng-init="init('<%= @type %>')" 
        action="users" method="post"
        ng-submit="submit($event)"
        name="signupForm" >
    <ul class="errors">
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div class="form-group">
      <label for="fullName"><%= t '.labels.full_name' %></label>
      <input type="text" class="form-control"
             id="fullName" placeholder="<%= t '.placeholders.full_name' %>"
             ng-model="form.fullName"
             required>
    </div>

    <div class="form-group">
      <label for="fullName"><%= t '.labels.email' %></label>
      <input type="email" class="form-control"
             id="email" placeholder="<%= t '.placeholders.email' %>"
             ng-model="form.email"
             required>
    </div>

    <div class="form-group" ng-class="">
      <label for="emailConfirmation"><%= t '.labels.email_confirmation' %></label>
      <input type="email" class="form-control"
             id="emailConfirmation" placeholder="<%= t '.placeholders.email_confirmation' %>"
             ng-model="form.emailConfirmation"
             required
             compare-to="form.email">
    </div>

    <div class="form-group">
      <label for="password"><%= t '.labels.password' %></label>
      <input type="password" class="form-control"
             id="password" placeholder="<%= t '.placeholders.password' %>"
             ng-model="form.password"
             required>
    </div>

    <div class="form-group">
      <label for="passwordConfirmation"><%= t '.labels.password_confirmation' %></label>
      <input type="password" class="form-control"
             id="passwordConfirmation" placeholder="<%= t '.placeholders.password_confirmation' %>"
             ng-model="form.passwordConfirmation"
             required
             compare-to="form.password">
    </div>

    <input type="submit" class="btn btn-warning form-control" value="<%= t 'shared.continue' %>">

    <p>
      <span><%= t '.already_a_member' %></span>
      <a href="/users/sign_in"><%= t '.sign_in_to_system' %></a>
    </p>
  </form>
</div>
