<div class="col-xs-12" ng-controller="ManagerShowController"
     ng-init="init(<%= current_user.to_json(:include => :meta) %>,
        <%= @hosts.to_json(:include => [:user, :witness, city: { :include => :managers }, :methods => [:has_witness] ]) %>,
        <%= @witnesses.to_json(:include => { city: { :include => :managers } }) %>,
        <%= @regions.to_json %>,
        <%= @total_hosts.to_json %>, <%= @total_witnesses.to_json %>, <%= @page.to_json %> )">

  <% if current_user.the_admin? %>
    <a ng-click="export_hosts()">ייצא מארחים לאקסל</a>
    <a ng-click="export_witnesses()">ייצא אנשי עדות לאקסל</a>
    <a ng-click="export_guests()">ייצא אורחים לאקסל</a>
  <% end %>

  <span us-spinner class="zb-spinner" ng-if="loading" spinner-on="loading"></span>
  <!-- View toggle buttons -->
  <% if I18n.locale == :he || true %>
    <div class="text-center margin-bottom-20">
      <div class="view-toggle">
        <div ng-if="currentUser.meta.witness_only == false" ng-class="{ 'selected': activeView === 'hosts' }"
             ng-click="onViewToggle('hosts')"><%= t '.hosts_view' %></div>

        <div ng-class="{ 'selected': activeView === 'witnesses' }"
             ng-click="onViewToggle('witnesses')"><%= t '.witnesses_view' %></div>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12" ng-if="success">
    <div class="alert alert-success" role="alert">
      נחמק בהצלחה
    </div>
  </div>

  <!-- Host view -->
  <div class="row" ng-if="activeView === 'hosts'">
    <div class="col-xs-12">
      <!-- Host filters -->
      <form class="form-inline" name="hostFilter">
        <span><%= t 'shared.filter_by' %></span>

        <div class="form-group">
          <label for="country"><%= t 'shared.country' %></label>
          <input
            class="form-control"
            type="text"
            ng-model="host_current_country"
            ng-change="host_current_city = ''"
            ng-model-options="{ debounce: 200 }"
            typeahead-editable="false"
            typeahead-on-select="onSearchHostCountrySet($item)"
            uib-typeahead="country as country.printable_name for country in getHostCountryLocation($viewValue)"
            placeholder="<%= t 'shared.country_placeholder' %>">
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.host.region_id"
                  ng-options="o.id as o.name for o in regions">
            <option value=""><%= t 'shared.region' %></option>
          </select>
        </div>

        <div class="form-group">
          <label for="city"><%= t 'shared.city' %></label>
          <input
            class="form-control"
            type="text"
            ng-model="host_current_city"
            ng-model-options="{ debounce: 200 }"
            typeahead-editable="false"
            typeahead-on-select="onSearchHostCitySet($item)"
            ng-disabled="!search.host.country_id"
            uib-typeahead="city as city.name for city in getCityLocation($viewValue, search.host.country_id)"
            placeholder="<%= t 'shared.city_placeholder' %>">
        </div>

        <% if I18n.locale == :he %>
          <div class="form-group">
            <select class="form-control" ng-model="search.host.survivor_needed"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.needs' %>', v: true }, { n: '<%= t 'shared.doesnt_need' %>', v: false }]">
              <option value=""><%= t 'shared.survivor_needed' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.has_survivor"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.teamed' %>', v: true }, { n: '<%= t 'shared.not_teamed' %>', v: false }

                    ]">
              <option value=""><%= t 'shared.has_survivor' %></option>
            </select>
          </div>
        <% end %>

        <div class="form-group">
          <select class="form-control" ng-model="search.host.contacted"
                  ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
            <option value=""><%= t 'shared.host_contacted' %></option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.event_language">
            <option value=""><%= t 'shared.event_language' %></option>
            <option value="hebrew">עברית</option>
            <option value="english">English</option>
            <option value="arabic">العربية</option>
            <option value="french">Français</option>
            <option value="russian">русский</option>
            <option value="spanish">Español</option>
            <option value="other"><%= t 'shared.other' %></option>
          </select>
        </div>

        <% if current_user.any_admin? %>

          <div class="form-group">
            <select class="form-control" ng-model="search.has_manager"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.has_manager_true' %>', v: true }, { n: '<%= t 'shared.has_manager_false' %>', v: false }]">
              <option value=""><%= t 'shared.has_manager' %></option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" ng-model="search.host.received_registration_mail"
                     ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
              <option value=""><%= t 'shared.finished_registration' %></option>
            </select>
          </div>


        <% end %>

        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="search.is_org">
            <%= t 'shared.is_org' %>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="search.in_future">
              <%= t 'shared.in_future' %>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="search.has_invites">
              <%= t 'shared.has_invites' %>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="search.is_red">
            <%= t 'shared.witness_contacted_red' %>
          </label>
        </div>

        <div class="form-group pull-left">
          <input type="text" class="form-control" ng-model="query.host" placeholder="<%= t 'shared.free_search' %>" />
        </div>
      </form>


      <div class="margin-top-10">
        <span>סה"כ מארחים:</span> <span class="total-summary">{{ totalHosts }}</span>
      </div>

      <!-- Host table -->
      <table class="table host-table">
        <thead>
          <tr>
            <th ng-click="setSortProp('user.id')">
              <%= t 'shared.id' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'user.id'"></span>
            </th>
            <th ng-click="setSortProp('user.full_name')">
              <%= t 'shared.name' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'user.full_name'"></span>
            </th>
            <th>
              <%= t 'shared.phone' %>
            </th>
            <th ng-click="setSortProp('city')">
              <%= t 'shared.city' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'city'"></span>
            </th>
            <th ng-click="setSortProp('event_date')">
              <%= t 'shared.evening_date' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'event_date'"></span>
            </th>
            <th ng-click="setSortProp('org_name')">
              <%= t 'shared.org_name' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'org_name'"></span>
            </th>
            <th ng-click="setSortProp('hosted_before')">
              <%= t 'shared.hosted_before' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'hosted_before'"></span>
            </th>
            <th ng-click="setSortProp('contacted')">
              <%= t 'shared.host_contacted' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'contacted'"></span>
            </th>
            <th ng-click="setSortProp('contacted_witness')">
              <%= t 'shared.witness_contacted' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'contacted_witness'"></span>
            </th>
            <th ng-click="setSortProp('survivor_needed')">
              <%= t 'shared.survivor_needed' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'survivor_needed'"></span>
            </th>
            <th>
              <%= t 'shared.has_survivor' %>
            </th>
            <th ng-click="setSortProp('assignment_time')">
              <%= t 'shared.assignment_time' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'assignment_time'"></span>
            </th>
            <% if current_user.admin? %>
              <th><%= t 'shared.manager' %></th>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="host in hosts" ng-click="editHost(host)"
              ng-class="{true: 'hasnt-contacted'}[contactWitnessDue(host)]">
            <td>{{ host.user.id }}</td>
            <td>{{ host.user.full_name }}</td>
            <td>{{ host.phone }}</td>
            <td>{{ host.city.name }}</td>
            <td>{{ formatDate(host.event_date) }}</td>
            <td>{{ host.org_name }}</td>
            <td>{{ formatBool(!host.hosted_before) }}</td>
            <td>{{ formatBool(host.contacted) }}</td>
            <td>{{ formatBool(host.contacted_witness) }}</td>
            <td>{{ formatBool(host.survivor_needed) }}</td>
            <td>{{ formatBool(host.has_witness) }}</td>
            <td>{{ formatDateTime(host.assignment_time) }}</td>
            <% if current_user.admin? %>
              <td>
                <div manager-link obj="host"></div>
              </td>
              <td>
                <button ng-click="deleteHost(host);$event.stopPropagation();" class="btn btn-warning"><%= t 'shared.delete' %></button>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <uib-pagination total-items="totalHosts"
                      ng-model="pagination.currentPage"
                      items-per-page="20"
                      ng-change="pageChanged()"
                      class="pagination-sm"
                      max-size="5"
                      boundary-link-numbers="true"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"
                      first-text="&laquo;"
                      last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
  <!-- End of host view -->


  <!-- Witness view -->
  <div class="row" ng-if="activeView === 'witnesses'">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= link_to new_witness_path do %>
          <span class="glyphicon glyphicon-plus"></span>
          <span><%= t '.add_witness' %></span>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12">

      <!-- Witness filters -->
      <form class="form-inline">
        <span><%= t 'shared.filter_by' %>:</span>

        <div class="form-group">
          <label for="city"><%= t 'shared.city' %></label>
          <input
            class="form-control"
            type="text"
            ng-model="witness_current_city"
            ng-model-options="{ debounce: 200 }"
            typeahead-editable="false"
            typeahead-on-select="onSearchWitnessCitySet($item)"
            uib-typeahead="city as city.name for city in getCityLocation($viewValue, 97)"
            placeholder="<%= t 'shared.city_placeholder' %>">
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.witness.witness_type"
                  ng-options="o.v as o.n for o in witnessTypes">
            <option value=""><%= t 'shared.type' %></option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.witness.stairs"
                  ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.can' %>', v: true }, { n: '<%= t 'shared.cant' %>', v: false }]">
            <option value=""><%= t 'shared.walk_up_stairs' %></option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.w_has_host"
                  ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.teamed' %>', v: true }, { n: '<%= t 'shared.not_teamed' %>', v: false }, { n: '<%= t 'shared.external_assignment' %>', v: -1 }, { n: '<%= t 'shared.archived' %>', v: -2 }, { n: '<%= t 'shared.need_to_followup' %>', v: -3 }]">
            <option value=""><%= t 'shared.has_host' %></option>
          </select>
        </div>

        <div class="form-group">
           <select class="form-control" ng-model="search.witness.concept"
                   ng-options="o.v as o.n for o in [
                     { n: '<%= t 'shared.concept.religious_and_secular' %>', v: 'religious_and_secular' },
                     { n: '<%= t 'shared.concept.vetrans' %>', v: 'vetrans' },
                     { n: '<%= t 'shared.concept.eastern' %>', v: 'eastern' }
                   ]">
             <option value=""><%= t 'shared.concept_label' %></option>
           </select>
         </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.event_language">
            <option value=""><%= t 'shared.event_language' %></option>
            <option value="hebrew">עברית</option>
            <option value="english">English</option>
            <option value="arabic">العربية</option>
            <option value="french">Français</option>
            <option value="russian">русский</option>
            <option value="spanish">Español</option>
            <option value="other"><%= t 'shared.other' %></option>
          </select>
        </div>


        <% if current_user.any_admin? %>

          <div class="form-group">
            <select class="form-control" ng-model="search.has_manager"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.has_manager_true' %>', v: true }, { n: '<%= t 'shared.has_manager_false' %>', v: false }]">
              <option value=""><%= t 'shared.has_manager' %></option>
            </select>
          </div>

        <% end %>

         <div class="form-group">
            <select class="form-control" ng-model="search.available_day_search"
                    ng-options="o.v as o.n for o in [
                   { n: '<%= t 'shared.available_day1' %>', v: 'available_day1' },
                   { n: '<%= t 'shared.available_day2' %>', v: 'available_day2' },
                   { n: '<%= t 'shared.available_day3' %>', v: 'available_day3' },
                   { n: '<%= t 'shared.available_day4' %>', v: 'available_day4' },
                   { n: '<%= t 'shared.available_day5' %>', v: 'available_day5' },
                   { n: '<%= t 'shared.available_day6' %>', v: 'available_day6' },
                   { n: '<%= t 'shared.available_day7' %>', v: 'available_day7' },
                   { n: '<%= t 'shared.available_day8' %>', v: 'available_day8' },
                   { n: '<%= t 'shared.available_day9' %>', v: 'available_day9' }
                    ]">
              <option value=""><%= t 'shared.availability' %></option>
            </select>
          </div>

         <div class="form-group">
            <select class="form-control" ng-model="search.witness.special_population"
                    ng-options="o.v as o.n for o in [{ n: '<%= t 'shared.yes' %>', v: true }, { n: '<%= t 'shared.no' %>', v: false }]">
              <option value=""><%= t 'shared.special_population' %></option>
            </select>
          </div>


        <div class="form-group pull-left">
          <input type="text" class="form-control" ng-model="query.witness"
                 placeholder="<%= t 'shared.search' %>" />
        </div>
      </form>

      <div class="margin-top-10">
        <span>סה"כ אנשי עדות:</span> <span class="total-summary">{{ totalWitnesses }}</span>
      </div>

      <!-- Witness table -->
      <table class="table witness-table">
        <thead>
          <tr>
            <th ng-click="setSortPropWitness('id')">
              <%= t 'shared.id' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="witnessSortProp === 'id'"></span>
            </th>
            <th ng-click="setSortPropWitness('full_name')">
              <%= t 'shared.name' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="witnessSortProp === 'full_name'"></span>
            </th>
            <th ng-click="setSortPropWitness('city.name')">
              <%= t 'shared.city' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="witnessSortProp === 'city.name'"></span>
            </th>
            <th ng-click="setSortPropWitness('witness_type')">
              <%= t 'shared.type' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="witnessSortProp === 'witness_type'"></span>
            </th>
            <% if current_user.admin? %>
              <th><% t 'shared.manager' %></th>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="witness in witnesses"
              ng-click="editWitness(witness)">
            <td>{{ witness.id }}</td>
            <td>{{ witness.full_name }}</td>
            <td>{{ witness.city.name }}</td>
            <td>{{ formatWitnessType(witness.witness_type) }}</td>
            <% if current_user.admin? %>
              <td>
                <div manager-link obj="witness"></div>
              </td>
              <td>
                <button ng-click="deleteWitness(witness);$event.stopPropagation();" class="btn btn-warning">מחק/י</button>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <uib-pagination total-items="totalWitnesses"
                      ng-model="pagination.currentPage"
                      items-per-page="20"
                      ng-change="pageChanged()"
                      class="pagination-sm"
                      max-size="5"
                      boundary-link-numbers="true"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"
                      first-text="&laquo;"
                      last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
  <!-- End of host view -->


</div>
