<p><%= @guest.user.first_name %>, <%= t('.see_you_in', name: @host.user.first_name, locale: @locale) %>!</p>

<p><%= t '.paragraph_1', locale: @locale %></p>

<p>
	<%= t('.want_to_contact', name: @host.user.first_name, locale: @locale) %>

	<div>
		<%= t 'shared.name', locale: @locale %>:  <%= @host.user.full_name %>
	</div>

	<div>
		<%= t 'shared.phone', locale: @locale %>:  <%= @host.phone %>
	</div>

	<div>
		<%= t 'shared.email', locale: @locale %>:  <%= @host.user.email %>
	</div>

	<div>
		<%= t 'shared.date', locale: @locale %>:  <%= @host.event_date %>
	</div>

	<div>
		<%= t 'shared.time', locale: @locale %>:  <%= @host.event_time %>
	</div>

	<div>
		<%= t 'shared.address', locale: @locale %>: <%= @host.address %> <%= @host.city.name %>
	</div>
</p>

<p><%= t '.paragraph_2', locale: @locale %></p>