<h3><%= t '.title' %></h3>
<p class="subtitle">
  <div class="col-xs-8 col-xs-offset-2">
    <%= t '.subtitle' %>
    
    <p>
      <a ng-click="create_meta('Host')" href="javascript:void(0)"><%= t '.host_link_text' %></a> 
      <%= t '.or' %>
      <a ng-click="create_meta('Guest')" href="javascript:void(0)"><%= t '.guest_link_text' %></a> 
    </p>
  </div>
</p>