<div class="col-xs-12" ng-controller="HomePageController"
     ng-init="init(<%= @hosts.to_json(:include => [:user, :city]) %>)">

  <form class="form-inline" ng-submit="createManager()">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="search.query" placeholder="חיפוש חופשי" />
    </div>

    <div class="form-group">
      <select class="form-control" ng-model="search.survivor_needed"
              ng-options="o.v as o.n for o in [{ n: 'צריך', v: true }, { n: 'לא צריך', v: false }]">
        <option value="">צריך/לא צריך איש עדות</option>
      </select>
    </div> 

    <div class="form-group">
      <select class="form-control" ng-model="search.has_survivor"
              ng-options="o.v as o.n for o in [{ n: 'צוות', v: true }, { n: 'לא צוות', v: false }]">
        <option value="">צוות/לא צוות איש עדות</option>
      </select>
    </div>  

    <div class="form-group">
      <select class="form-control" ng-model="search.strangers"
              ng-options="o.v as o.n for o in [{ n: 'פתוח', v: true }, { n: 'פרטי', v: false }]">
        <option value="">ערב פתוח/פרטי</option>
      </select>
    </div>  
  </form>

  <table class="table host-table">
    <thead>
      <tr>
        <th>שם</th>
        <th>כתובת</th>
        <th>תאריך</th>
        <th>שפה</th>
      </tr> 
    </thead>
    <tbody>
      <tr ng-repeat="host in hosts">
        <td>{{ host.user.full_name }}</td>
        <td>{{ host.address }}</td>
        <td>{{ formatDate(host.event_date) }}</td>
        <td>{{ host.language }}</td>
      </tr>
    </tbody>
  </table>
  <%= paginate @hosts %>
</div>

<% if false %>
	 <%= select_tag :city_select, options_from_collection_for_select(City.order(:name).all, :id, :name), prompt: t('.select_city') %>

	<div id="main_content">
		<div id="hosts_table">
			<table class="hosts_table">
				<thead>
					<th class="right">
						מארח
						<div class="line"></div>
					</th>
					<th>
						כתובת
						<div class="line"></div>
					</th>
					<th >
						עיר
						<div class="line"></div>
					</th>
					<th >
						תאריך הערב
						<div class="line"></div>
					</th>
					<th></th>
				</thead>
				<tbody id="hosts">
					<%= render 'hosts/hosts' %>
				</tbody>
			</table>
			<%= paginate @hosts %>
		</div>
	</div>


	<div id="register" class="hidden">
		<%= render 'guests/register' %>
	</div>

<% end %>










