<div id="mask" class="hidden"></div>

<div class="container_inner" id="host_list">
	 <div class="title"><%= t '.title' %></div>
	 <br>
	 <div class="explenation">
	 	<p>
	 		<%= t '.explenation1' %>
	 	</p>
	 	<br>			
	 	<p>
	 		 <%= t '.explenation21' %><%= link_to t('.explenation_link'), new_host_path %>. <%= t '.explenation22' %>
	 	</p>
	 	<br>
	 	<p>
	 		<%= t '.explenation3' %>	 
		</p>
</div>

	 <%= select_tag :city_select, options_from_collection_for_select(City.order(:name).all, :id, :name), prompt: t('.select_city') %>

	<div id="main_content">
		<div id="hosts_table">
			<table class="hosts_table">
				<thead>
					<th class="right">
						מארח
						<div class="line"></div>
					</th>
					<th>
						כתובת
						<div class="line"></div>
					</th>
					<th >
						עיר
						<div class="line"></div>
					</th>
					<th >
						תאריך הערב
						<div class="line"></div>
					</th>
					<th></th>
				</thead>
				<tbody id="hosts">
					<%= render 'hosts/hosts' %>
				</tbody>
			</table>
			<%= paginate @hosts %>
		</div>

		<div id="no_salon">
			<div class="label"><%= t '.no_salon1' %></div>
			<div class="content"><%= t '.no_salon2' %></div>
			<%= link_to t('.no_salon_link'), new_host_path %>
		</div>
	</div>




	<div id="register" class="hidden">
		<%= render 'guests/register' %>
	</div>
</div>







