<div id="mask" class="hidden"></div>

<div class="container_inner" id="host_list">
	 <div class="title">רשימת מארחים זיכרון בסלון 2015</div>
	 <br>
	 <div class="explenation">
אנחנו שמחים שבחרת להתארח בערב "זיכרון בסלון".
תוכלו לחפש סלון פתוח לאירוח בסביבת מגוריכם ברשימות המופיעות בהמשך.
אם לא מצאתם מקום מתאים להתארח בו, אתם תמיד יכולים לארח בעצמכם.
צוות "זיכרון בסלון" ישמח לעזור בחיפוש אחר סלון מתאים.
נא חיזרו להתעדכן לגביי סלונים חדשים שהצטרפו אלינו.
תודה רבה וברוכים הבאים.	 </div>

	 <%= select_tag :city_select, options_from_collection_for_select(City.all, :id, :name), prompt: "חפש עיר" %>

	<div id="main_content">
		<div id="hosts_table">
			<table class="hosts_table">
				<thead>
					<th class="right">
						מארח
						<div class="line"></div>
					</th>
					<th>
						כתובת
						<div class="line"></div>
					</th>
					<th >
						עיר
						<div class="line"></div>
					</th>
					<th></th>
				</thead>
				<tbody id="hosts">
					<%= render 'hosts/hosts' %>
				</tbody>
			</table>
			<%= paginate @hosts %>
		</div>

		<div id="no_salon">
			<div class="label">לא מצאתם סלון מארח?</div>
			<div class="content">למה שלא תארגנו ערב לכם ולחבריכם? צוות זיכרון בסלון יסייע לכם בארגון הערב ובבניתת תוכנו.</div>
			<%= link_to "לחצו כאן לפרטים", new_host_path %>
		</div>
	</div>




	<div id="register" class="hidden">
		<%= render 'guests/register' %>
	</div>
</div>







