<meta property="og:title" content="<%= t 'shared.og_title' %>" />
<meta property="og:description" content="<%= t 'shared.og_description' %>" />

<div class="col-xs-12 home-page">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= t '.title' %></h3>
      <p class="subtitle"><%= simple_format(t '.subtitle') %></p>
    </div>

    <% if true %>
    <div class="col-xs-12" ng-controller="HomePageController"
          ng-init="init(
            <%= @hosts.to_json(:include => [{ :user => { :methods => [:first_name] } }, :city, :country], :methods => [:available_places, :converted_time]) %>,
            <%= [] %>, <%= @regions.to_json %>, <%= @total_items %>,
            <%= current_user_json %>, <%= @countries.to_json %>
          )">

      <span us-spinner class="zb-spinner" ng-if="loading" spinner-on="loading"></span>
      <!-- Filters -->
      <form class="form-inline margin-bottom-20">
        <span class="margin-left-10"><%= t 'shared.filter_by' %>:</span>

        <div class="form-group">
          <select class="form-control city-select" ng-model="search.country_id"
                  ng-options="o.id as o.printable_name for o in countries | orderBy:'printable_name'"
                  ng-change="filter()">
            <option value=""><%= t 'shared.country' %></option>
          </select>
        </div>

        <div class="form-group">
          <select class="form-control city-select" ng-model="search.region_id"
                  ng-options="o.id as o.name for o in regions | orderBy:'name'"
                  ng-change="filter()">
            <option value=""><%= t 'shared.region' %></option>
          </select>
        </div>

        <div class="form-group">
          <!-- <select class="form-control city-select" ng-model="search.city_id"
                  ng-options="o.id as o.name for o in cities"
                  ng-change="filter()">
            <option value=""><%#= t 'shared.city' %></option>
          </select> -->
          <ui-select multiple
                     ng-model="search.cities"
                     theme="bootstrap"
                     class="form-control"
                     on-select="filter()"
                     on-remove="filter()">
            <ui-select-match placeholder="<%= t 'shared.city' %>">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="city in (cities | filter: $select.search) track by city.id">
              <div ng-bind-html="city.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="search.event_language"
                  ng-change="filter()">
            <option value=""><%= t 'shared.language' %></option>
            <option value="hebrew">עברית</option>
            <option value="english">English</option>
            <option value="arabic">العربية</option>
            <option value="french">Français</option>
            <option value="russian">русский</option>
            <option value="spanish">Español</option>
            <option value="other"><%= t 'shared.other' %></option>
          </select>
        </div>

        <div class="form-group">
          <date-picker format-date="formatDate" parse-date="parseDate" ng-change="filter()" style="direction:ltr; z-index:10000; position:absolute;" ng-show="showDatePicker" ng-model="search.event_date" on-date-selected="showDatePicker = !showDatePicker"></date-picker>
          <input placeholder="תאריך" ng-model="search.event_date" ng-click="showDatePicker = !showDatePicker">
        </div>


        <!--<div class="form-group">-->
          <!---->
          <!--<input type="date" class="form-control"  -->
                 <!--ng-change="filter()"-->
                 <!--ng-model="search.event_date" datepicker-->
                 <!--placeholder="תאריך" />-->
        <!--</div>  -->

        <!--
          <div class="form-group">
            <label>
              <input type="checkbox" ng-model="search.vetrans" ng-change="filter()" style="width: 15px;">
              <%= t 'shared.vetrans' %>
            </label>
          </div>
        -->

        <div class="form-group pull-left">
          <input type="text" class="hidden-xs form-control" ng-model="search.query" placeholder="<%= t 'shared.free_search' %>" />
        </div>
      </form>

      <div ng-if="totalItems" class="salon-count">
        <span class="count">{{ totalItems }}</span>
        <span><%= t '.zb_salons' %></span>
      </div>

      <div ng-if="!totalItems" class="salon-count">
        <span class="bigger"><%= t '.no_salons' %></span>
      </div>

      <table class="table host-table">
        <thead>
          <tr>
            <th ng-click="setSortProp('user.full_name')">
              <%= t 'shared.name' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'user.full_name'"></span>
            </th>
            <th ng-click="setSortProp('city')">
              <%= t 'shared.city' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'city'"></span>
            </th>
            <th ng-click="setSortProp('address')">
              <%= t 'shared.street' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'address'"></span>
            </th>
            <th class="hidden-xs" ng-click="setSortProp('event_date')">
              <%= t 'shared.date' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'event_date'"></span>
            </th>
            <th class="hidden-xs" ng-click="setSortProp('event_language')">
              <%= t 'shared.language' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'event_language'"></span>
            </th>
            <th ng-click="setSortProp('available_places')">
              <%= t 'shared.available_spaces' %>
              <span ng-class="search.reverseOrdering ? 'caret-up' : 'caret-down'" ng-if="sortProp === 'available_places'"></span>
            </th>
            <th class="hidden-xs"><%= t 'shared.free_text' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="host in hosts">
            <td>{{ host.user.first_name }}</td>
            <td>{{ formatCityDisplay(host) }}</td>
            <td>{{ formatAddressDisplay(host.address) }}</td>
            <td class="hidden-xs">{{ formatTableDate(host.event_date) }}</td>
            <td class="hidden-xs">{{ formatLanguage(host.event_language) }}</td>
            <td>{{ host.available_places }}</td>
            <td class="hidden-xs">{{ host.public_text }}</td>
            <td>
              <button class="hidden-xs btn-request"
                      ng-click="requestInvite(host)">
                <%= t 'shared.send_request' %>
              </button>

              <button class="visible-xs btn-request-mobile btn-request"
                      ng-click="requestInvite(host)">
                <%= t 'shared.send_request_mobile' %>
              </button>
          </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-12 text-center">
          <uib-pagination total-items="totalItems"
                          ng-model="currentPage"
                          ng-change="pageChanged()"
                          class="pagination-sm"
                          max-size="5"
                          boundary-link-numbers="true"
                          previous-text="&lsaquo;"
                          next-text="&rsaquo;"
                          first-text="&laquo;"
                          last-text="&raquo;">
          </uib-pagination>
        </div>
      </div>


    </div>
    <% end %>
    <!-- End of HomePageController -->
  </div>
</div>

<% if true %>
<script type="text/ng-template" id="request-invite.html">
  <%= render 'guests/request_invite_modal' %>
</script>
<% end %>











