<div class="col-xs-12 home-page">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= t '.title' %></h3>
      <p class="subtitle"><%= simple_format(t '.subtitle') %></p>
    </div>

    <div class="col-xs-12" ng-controller="HomePageController"
          ng-init="init(
            <%= @hosts.to_json(:include => [:user, :city], :methods => [:available_places]) %>, 
            <%= @cities.to_json %>, <%= @total_items %>,
            <%= current_user_json %>
          )">
      <!-- Filters -->
      <form class="form-inline margin-bottom-20">
        <span class="margin-left-10"><%= t 'shared.filter_by' %>:</span>

        <div class="form-group">
          <select class="form-control city-select" ng-model="search.city_id"
                  ng-options="o.id as o.name for o in cities"
                  ng-change="filter()">
            <option value=""><%= t 'shared.city' %></option>
          </select>
        </div> 

        <div class="form-group">
          <select class="form-control" ng-model="search.event_language"
                  ng-change="filter()">
            <option value=""><%= t 'shared.language' %></option>
            <option value="hebrew">עברית</option>
            <option value="english">English</option>
            <option value="arabic">العربية</option>
            <option value="french">Français</option>
            <option value="russian">русский</option>
            <option value="other"><%= t 'shared.other' %></option>
          </select>
        </div> 

        <div class="form-group pull-left">
          <input type="text" class="form-control" ng-model="search.query" placeholder="<%= t 'shared.free_search' %>י" />
        </div>
      </form>

      <div class="salon-count">
        <span class="count">{{ totalItems }}</span>
        <span><%= t '.zb_salons' %></span>
      </div>

      <table class="table host-table">
        <thead>
          <tr>
            <th><%= t 'shared.name' %></th>
            <th><%= t 'shared.city' %></th>
            <th><%= t 'shared.street' %></th>
            <th><%= t 'shared.date' %></th>
            <th><%= t 'shared.language' %></th>
            <th><%= t 'shared.available_spaces' %></th>
            <th><%= t 'shared.free_text' %></th>
            <th></th>
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="host in hosts">
            <td>{{ host.user.full_name }}</td>
            <td>{{ host.city.name }}</td>
            <td>{{ formatAddressDisplay(host.address) }}</td>
            <td>{{ formatDate(host.event_date) }}</td>
            <td>{{ formatLanguage(host.event_language) }}</td>
            <td>{{ host.available_places }}</td>
            <td>{{ host.public_text }}</td>
            <td>
              <button class="btn-request"
                      ng-click="requestInvite(host)">
                <%= t 'shared.send_request' %>
              </button>
          </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-12 text-center">
          <uib-pagination total-items="totalItems" 
                          ng-model="currentPage" 
                          ng-change="pageChanged()"
                          class="pagination-sm" 
                          previous-text="&lsaquo;" 
                          next-text="&rsaquo;" 
                          first-text="&laquo;" 
                          last-text="&raquo;">
          </uib-pagination>
        </div>
      </div>
    
    </div> 
    <!-- End of HomePageController -->
  </div>
</div>

<script type="text/ng-template" id="request-invite.html">
  <%= render 'guests/request_invite_modal' %>
</script>











