<% title "New Region" %>

<%= form_for @region do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", regions_path %></p>
