<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>
<ul>
	<% @region.hosts.each do |host| %>
		<li>
			<p>Name: <%= host.f_name %></p>
			<p>Address: <%= host.address %></p>
			<p>Email: <%= host.email %></p>
			<% if (!session[:invites_sent] || !session[:invites_sent].include?(host.id.to_s)) %>
				<a href="#guestModal" class="btn btn-primary request_invite" data-id= <%= host.id %> data-toggle="modal">Request invite</a>
			<% else %>
				<a disabled="true" class="btn">Invite Sent</a>
			<% end %>
		</li>
	<% end %>
</ul>


  <div id="guestModal" class="modal hide fade">
	  <div class="modal-header">
	  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  	<h3>Enter your details</h3>
	  </div>
	  <div class="modal-body">
	  <%= simple_form_for @guest, url: send_request_host_path do |f| %>
	   	<%= f.input :name %>
	    <%= f.input :email %>
	    <%= f.input :phone %>
	    <%= f.input :num_of_friends %>
	    <%= f.input :host_id, as: :hidden %>
	  </div>
	  <div class="modal-footer">
	  	<%= f.submit "Send", class: "btn btn-primary" %>
	  </div>
	  <% end %>
  </div>
