<p>
  <h2><%= @region.country.name + ' - ' + @region.name %></h2>

  <u><h3><%= t '.add_city_title'%> - <%= @region.name %>:</h3></u>

  <%= form_for @region, :url => url_for(:controller => 'regions', :action => 'add_city', :method => :put) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label t 'shared.city' %><br />
      <%= select("city", "id", City.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, { multiple: true}) %>
    </p>
    <p><%= f.submit t 'shared.create_button_text'%></p>
  <% end %>

  <br/>

  <u><h3><%= t '.edit_city_list'%></h3></u>

  <% @cities.each do |c| %>
    <table>
      <tr>
        <td><%= c.name %></td>
        <td>
          &nbsp;&nbsp;<%= link_to (t 'shared.delete'), {:action => 'remove_city', :city_id => c.id }%>
        </td>
      </tr>
    </table>
  <% end %>


</p>

<br/>
<br/>

<p><%= link_to (t "shared.back_to_list"), regions_path %></p>


