<div id="header">
	<div id="logo"><%= link_to image_tag("logo.png"),"http://www.zikaronbasalon.com" %></div>
	<div class="header_links">
		<div class="header_link"><%= link_to t('.want_to_host'), new_host_path %></div>
		<div class="header_link"><%= link_to t('.want_to_guest'), root_path %></div>
	</div>
	<%= link_to hosts_path do %>
		<div id="staff"><%= t '.staff' %></div>
	<% end %>
	<div class="header_links locale_links">
		<%= link_to_unless_current "עברית", locale: "he" %>
    <%= link_to_unless_current "English", locale: "en" %>
	</div>
</div>
