<div id="header">
	<div id="logo"><%= link_to image_tag("logo.png"),"http://www.zikaronbasalon.com" %></div>
	<div class="header_links">
		<div class="header_link"><%= link_to t('.want_to_host'), signup_path(type: 'host') %></div>
		<div class="header_link"><%= link_to t('.want_to_guest'), root_path %></div>

		<!-- Signin/out links -->
		<% if user_signed_in? %>
			<div class="header_link"><%= link_to t('.signout'), destroy_user_session_path, method: :delete %></div>
		<% else %>
				<div class="header_link"><%= link_to t('.signin'), user_session_path %></div>
		<% end %>
	</div>

	<%= link_to hosts_path do %>
		<div class="header_box" id="staff"><%= t '.staff' %></div>
	<% end %>

	<% if user_signed_in? %>
		<%= link_to host_path(current_user) do %>
			<div class="header_box" id="host_dashboard"><%= t '.host_dashboard' %></div>
		<% end %>
	<% else %>
		<%= link_to signin_path do %>
			<div class="header_box" id="host_dashboard"><%= t '.host_dashboard' %></div>
		<% end %>
	<% end %>
	
	<div class="header_links locale_links">
		<%= link_to_unless_current "עברית", locale: "he" %>
    <%= link_to_unless_current "English", locale: "en" %>
	</div>
</div>
