<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "זיכרון בסלון 2014" %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "#{controller_name}.#{action_name}" if ZikaronBasalon::Application.assets.find_asset("#{controller.controller_name}.#{action_name}.js") %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <meta property="og:image" content="http://static.wixstatic.com/media/21e365_91defaf889494d6ea5cad65059ba650c.jpg">
    <meta property="og:url" content="http://zikaronbasalon.herokuapp.com">
    <meta property="og:description" content="בין הקדושה של הטקסים הממלכתיים וההדחקה המוחלטת, זיכרון בסלון מציע דרך אחת נוספת ﻿ זיכרון בסלון נולד מתוך ההבנה שהזיקה שלנו, הדור השלישי, ליום הזיכרון לשואה ולגבורה - הולכת ונחלשת. הפרויקט נועד לייצר דרך נוספת לציין את היום הזה, אשר תאפשר חיבור שונ">
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="container">
      <%= yield %>
    </div>
    <div id="footer">
        <div class="footer_wrapper">
          <div class="part"> צרו קשר: zikaronbasalon@gmail.com </div>
         <div class="part"><%= link_to "זיכרון בסלון בפייסבוק", "https://www.facebook.com/ZikronBaSalon" %></div>
         <% if false %>
         <div class="part"> פותח ע"י אורי קלר
        <%= link_to image_tag("linkdin.jpg"), "http://www.linkedin.com/in/uriklar", target: "_blank" %></div>
        <% end %>
        </div>
      </div>
  </body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49428934-2', 'zikaronbasalon.herokuapp.com');
  ga('send', 'pageview');

</script>
