<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "#{controller_name}.#{action_name}" if ZikaronBasalon::Application.assets.find_asset("#{controller.controller_name}.#{action_name}.js") %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="container">
      <%= yield %>
      <div id="footer">
        <div class="footer_wrapper">
          Developed by Uri Klar
        <%= link_to image_tag("linkdin.jpg"), "http://www.linkedin.com/in/uriklar", target: "_blank" %>
          Contant: zikaron@gmail.com <%= link_to "asdasd", "asdas" %>
        </div>
      </div>
    </div>
  </body>
</html>
