<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "#{controller_name}.#{action_name}" if ZikaronBasalon::Application.assets.find_asset("#{controller.controller_name}.#{action_name}.js") %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div id="container">
      <%= yield %>
      <div id="footer">
        <div class="footer_wrapper">
          <div class="part"> צרו קשר: zikaronbasalon@gmail.com </div>
         <div class="part"><%= link_to "זיכרון בסלון בפייסבוק", "https://www.facebook.com/ZikronBaSalon" %></div>
         <div class="part"> פותח ע"י אורי קלר
        <%= link_to image_tag("linkdin.jpg"), "http://www.linkedin.com/in/uriklar", target: "_blank" %></div>
        </div>
      </div>
    </div>
  </body>
</html>
